.left{
  background-image: url('../../assets/images/bg.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.left::after {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.title-admin {
  color: white;
  z-index: 2;
  font-size: 50px;
  font-family: cursive;
}

.amin-login {
  width: 107px;
  margin-top: 70px;
}

.text-input{
  font-family: cursive;
}

.btn-login {
  width: 250px !important;
  height: 47px !important;
  border-radius: 30px !important;
  background-color: #ac145a !important;
  border: 0px !important;
}