.size-clothes {
  background-color: #E8E8E8;
  width: 100px;
  padding: 0px 7px;
}


span.size-sub {
  font-size: 13px;
  color: #808080;
  font-weight: 500;
}

.catalog{
  margin-top:56px;
}
.price {
  font-weight: bold;
  margin-top: 6px;
  font-family: sans-serif;
  color: #575757;
}
.title {
  font-size: 13px;
  font-weight: 500;
  color: #636161;
}
.title:hover {
  text-decoration: none;
  color: #636161;
}
button.btn-beli {
  background-color: #ac145a !important;
  border: 0px;
  font-weight: 600;
}
button.btn-beli :hover {
  background-color: #ac145a !important;
}
