.header {
  background-color: white;
  height: 56px;
  border-bottom: 1px solid #eee;
}
img.logo {
  height: 37px;
}
img.cart {
  height: 30px;
  margin-right: -10px;
}
.logo-fix {
  margin-top: 9px;
}
.badge-chart {
  background-color: #ac145a !important;
  border-radius: 50% !important;
}