.home{
  height: 100%;
}
@media (min-width:480px)  {
   /* smartphones, Android phones, landscape iPhone */ 
   .size-mobile{
     width: 480px;
     /* background-color: aqua; */
     margin: auto;
   }
}