.others {
  background-color: #FCFCFC;
  padding: 10px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.back-btn{
  height: 30px;
}
.title-back {
  color: #525252;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
}