.cart-photo{
  height: 64px;
  border-radius: 5px;
}
.cart-belanjaan {
  background-color: #fff;
  margin-top: 75px;
  padding: 15px;
}
.belanjaan {
  width: 90%;
  border-bottom: 1px solid #bdbdbd;
  margin-left: 10px;
}

.badge-coba{
  font-weight: 400;
}

img.btn-close {
  height: 24px;
  cursor: pointer;
}
.title-cart {
  font-size: 13px;
  color: #575757;
}
.card-page{
  background-color: #fff;
  margin-top: 20px;
  padding: 15px;
}
.gratis {
  color: #32AD32;
  font-weight: 700;
}

.bottom-card {
  position: absolute;
  width: 100%;
  bottom: 0;
}

@media (min-width:480px)  {
   /* smartphones, Android phones, landscape iPhone */ 
   .bottom-card {
     width: 480px;
     /* background-color: aqua; */
     margin: auto;
   }
}
img.img-kosong {
  width: 100px;
  margin-bottom: 30px;
}